@import "bourbon";
@import "font-awesome";

body {
  background: whits;
}

ul, li {
  list-style: none;
  line-height: 3em;
  margin: 0;
  padding: 0;
  
}
li {
  border: 1px solid black;

}
h2 {
  background-color: pink;
  border: 1px solid black;
  padding: 5%;
  margin: 0 auto;

}

h3 {
  background-color: white;
  padding: 4%;
  margin: 0 auto;
}

div {
  width: 300px;
  margin: 5%;
}

.contacts {
  margin-left: 40px;


}
.details {
  margin-left: 80px;
}
